/* :root{
  --vis: 0%;
} */
html {
  margin: 0px; 
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  --tcdsense-cream-one: #fce891;
  --tcdsense-cream-two: #fff0ad;
  --tcdsense-blue-one: #0087a2;
  --tcdsense-blue-two: #c2f4fe;
  --tcdsense-green-one: #179942;
  --tcdsense-pink: #e53397;
}


body {
  /* padding: 50px; */
  /* font: 14px; Calibri, sans-serif; */
  font-size: 14pt;
  font-family: 'Lato', sans-serif !important;
}

a {
  /* color: black; */
}

.btn {
  background-color: var(--tcdsense-blue-one); 
  color: var(--tcdsense-cream-one) !important; 
  border-radius:0.25rem;

  padding-left:2rem;
  padding-right:2rem;
  padding-bottom:1rem;
  padding-top:1rem;

  margin: 1rem;
  /* font-weight: bolder;  */
  font-family: 'PT Mono', monospace;
  text-decoration:none;
}

.welcome {  
  padding-bottom:0.25rem;
  padding-top:0.25rem;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Calibri, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

button:disabled {
  background: #F5F5F5;
  color : #C3C3C3;
}

.zoomedOutLabel, .zoomedInLabel {
  transition: all 1s ease;
  color: var(--fontcolour)
}

.zoomedOutLabel{
  opacity: var(--vis-out);
}

.zoomedInLabel{
  opacity: var(--vis-in);
}

div.modalcontent{

   /* background-color: lightblue; */
  width: 100%;
  height: 50vh; 
  overflow: scroll;

}

/* SVG Stuff */
